:root{
    background-color: #b3c6ff;
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00001a;
}

h1{
    font-size: 5.2rem;
    margin-bottom: 5rem;
    color: #002699;
}

/* Utilities*/

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* Buttons*/
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid  #668cff;
    text-decoration: none;
    margin-bottom: 1rem;
    color: #3366ff;
    background-color: #e6ecff;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(51, 102, 255, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}