h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

.justify-center{
    justify-content: center;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(83, 83, 212, 0.25);
    background-color: white;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(51, 102, 255, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
    margin: 0;
}

.choice-text{
    padding: 1.5rem;
    margin: 0;
    width: 100%;
}

.correct {
    background-color: #33cc33;
}

.incorrect {
    background-color: #ff3333;
}